* {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #211F1F;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.control-label {
	color: white;
}

.signIn {
	color: white;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #333;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #222;
	background-color: white;
}

.logo {
	background: url(../img/exify-logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	width: 30vmin;
	height: 10vmin;
	margin-top: 1vmin;
	margin-left: 1vmin;
	padding: 1vmin;
	align-self: flex-start;
}

#drag_and_drop_box {
	border: 2px solid #fff;
	margin: auto;
	padding: 10px;
	height: 55vmin;
	width: 65vmin;
	border-radius: 1vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#upload {
	height: 58vmin;
	width: 70vmin;
	border: 2px solid lightblue;
	position: absolute;
	left: 32%;
	top: 10%;
	opacity: 0;
}

#upload_image {
	height: 20vh;
	width: 20vh;
	margin: auto;
	background: url(../img/upload_icon.png);
	background-position: center center;
	background-size: 100%;
	z-index: 999;
	/*	border: 2px solid red;*/
}

.dz-default,
.dz-message {
	display: none;
}

#drag_and_drop_box p {
	text-align: center;
	font-size: 4.5vmin;
}

#social-media {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 20px;
}

#socialTxt {
	font-size: 3vh;
	color: #fff;
	text-align: center;
}

#icons {
	margin: 5% auto;
	/*	border: 2px solid red;*/
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#social-media ul li {
	list-style: none;
	/*	border: 2px solid red;*/
	display: inline-block;
	height: 10vh;
	width: 10vh;
}

#fb {
	background: url(../img/facebook.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -3%;
}

#twt {
	background: url(../img/twitter.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}

#insta {
	background: url(../img/instagram.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}

#google {
	background: url(../img/google.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}


/*********************************************************
	Profile styles
*******************************************************/

.text-center {
	text-align: center;
}

.user__input,
.top__stories,
.time__line {
	position: absolute;
	color: white;
}

.user__input {
	min-height: 60vmin;
	height: 62vmin;
	width: 70%;
	left: 0;
	top: 12%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.top__stories {
	min-height: 60vmin;
	height: 60vmin;
	width: 30%;
	left: 70%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.top-img {
	height: 18vmin;
	width: 18vmin;
	background-image: url(../img/placeholder.png);
	background-position: top left;
	background-size: cover;
	margin: 0 auto;
	box-sizing: border-box;
}

.top-img + .top-img {
	margin-top: 10px;
}

.time__line {
	bottom: 0;
	min-height: 26vmin;
	height: auto;
	width: 100%;
	left: 0;
	padding: 10px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.current-img {
	background-image: url(../img/placeholder.png);
	background-position: top left;
	background-size: cover;
	width: 30vmin;
	height: 30vmin;
	align-self: center;
}

.img-text {
	padding: 20px;
}

.time__line {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
}

.story-wrap-tl {
	align-self: center;
}

.top-img-tl {
	height: 20vmin;
	width: 20vmin;
	background-image: url(../img/placeholder.png);
	background-position: top left;
	background-size: cover;
	margin: 0 auto;
	box-sizing: border-box;
}

.story-wrap-tl + .story-wrap-tl {
	margin-left: 200px;
}