* {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #211F1F;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#logo {
	background: url(../img/exify-logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80%;
	width: 30vmin;
	height: 10vmin;
	margin-top: 1vmin;
	margin-left: 1vmin;
	padding: 1vmin;
	align-self: flex-start;
}

#drag_and_drop_box {
	border: 2px solid #fff;
	margin: auto;
	padding: 10px;
	height: 55vmin;
	width: 65vmin;
	border-radius: 1vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#upload {
	position: absolute;
	top: -1000px;
}

#upload_image {
	height: 20vh;
	width: 20vh;
	margin: auto;
	background: url(../img/upload_icon.png);
	background-position: center center;
	background-size: 100%;
}

#drag_and_drop_box p {
	text-align: center;
	font-size: 4.5vmin;
}

#social-media {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 20px;
	/*	border: 2px solid #fff;*/
}

#socialTxt {
	font-size: 3vh;
	color: #fff;
	text-align: center;
}

#icons {
	margin: 5% auto;
	/*	border: 2px solid red;*/
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#social-media ul li {
	list-style: none;
	/*	border: 2px solid red;*/
	display: inline-block;
	height: 10vh;
	width: 10vh;
}

#fb {
	background: url(../img/facebook.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -3%;
}

#twt {
	background: url(../img/twitter.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}

#insta {
	background: url(../img/instagram.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}

#google {
	background: url(../img/google.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5%;
}