body {
	/*	background-color:#211F1F;*/
}

#drag_and_drop_box {
	/*
	border-radius:10px;
	background-color:white;
	width: 700px;
	height: 450px;
	position: relative;
	margin:0 auto;
	line-height: 1.4em;
*/
}

#upload_image {
	/*display: block;*/
	/*margin: auto;*/
	/*top:500px;*/
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #211F1F;
	font-family: 'Open Sans', sans-serif;
}

#drag_and_drop_box {
	width: 100vmin;
	height: 50vmin;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	border-radius: 2vmin;
}

#wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#upload_image {
	width: 20vmin;
	height: 20vmin;
	/*	border: 2px solid blue;*/
	background: url(../img/upload_icon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}