body {
	background-color:#211F1F;
}

#drag_and_drop_box {
	border-radius:10px;
	background-color:white;
	width: 700px;
	height: 450px;
	position: relative;
	margin:0 auto;
	line-height: 1.4em;
}

#upload_image {
	/*display: block;*/
	/*margin: auto;*/
	/*top:500px;*/
}