<html>
<body>
  {% extends "base.html" %} {% block content %}
  <div class="logo"></div>
  <div id="drag_and_drop_box" class="center-block">
    <input id="upload" type="file">
	<label for="upload" id="upload_image"></label>
	  
    <p class="center-block-content">Drag and Drop From Your Device!</p>
  </div>
  <div id="social-media">
    <p id="socialTxt">Or upload from your social media</p>
    <ul id="icons">
      <li id="fb"></li>
      <li id="twt"></li>
      <li id="insta"></li>
      <li id="google"></li>
    </ul>
  </div>
  {% endblock %}
</body>

</html>
  <!-- {% for post in posts %}
        <div>
          <h1>
            {{ post.author.nickname }} says: 
            <b>{{ post.body }}</b>
          </h1>
        </div>
        {% endfor %} -->
<!--
  <p>
    Hi, {{ user.nickname }}!
  </p>
-->
