{% extends "base.html" %} {% block content %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo" href="/"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a id="user" href="#">Welcome Back [username]!</a></li>
				<li><a href="#">Map</a></li>
				<li><a href="#">Log out</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


<div class="user__input">
	<div class="current-img"></div>
	<p class="img-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="top__stories">
	<h2 class="text-center">Top Stories</h2>

	<div class="story-wrap">
		<div class="top-img"></div>
		<p class="img-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

	<div class="story-wrap">
		<div class="top-img"></div>
		<p class="img-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

	<div class="story-wrap">
		<div class="top-img"></div>
		<p class="img-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>

</div>
<div class="time__line">
	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>

	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>

	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>

	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>
	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>
	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>
	<div class="story-wrap-tl">
		<div class="top-img-tl"></div>
	</div>

</div>

{% endblock %}