 html>

<body>
  {% extends "base.html" %} {% block content %}
  <p>
    Hi, {{ user.nickname }}!
  </p>
  <div id="drag_and_drop_box" class="center-block">
    <div id="wrapper">
      <div id="upload_image" class="center-block-content" src="/static/img/upload_icon.png"></div>
      <h3 class="center-block-content">Drag and Drop From Your Device!</h3>
    </div>
  </div>

  <form action="/profile" method="post"class="dropzone"></form>
  <!-- {% for post in posts %}
		    <div>
		    	<h1>
		    		{{ post.author.nickname }} says: 
		    		<b>{{ post.body }}</b>
		    	</h1>
		    </div>
		    {% endfor %} -->
  {% endblock %}
</body>

</html>