<html>
	<body>
		{% extends "base.html" %}
		{% block content %}
		    <p>
		    	Hi, {{ user.nickname }}!
		    </p>
		    <div id="drag_and_drop_box" class="center-block">
		    	<img id="upload_image" class="center-block" src="/static/img/upload_icon.png">
		    	<h3>Drag and Drop From Your Device!</h3>
		    </div>
		    <!-- {% for post in posts %}
		    <div>
		    	<h1>
		    		{{ post.author.nickname }} says: 
		    		<b>{{ post.body }}</b>
		    	</h1>
		    </div>
		    {% endfor %} -->
		{% endblock %}
	</body>
</html>

